extends layout

block content
  h1= title

  .delete-account-container
    .warning-card
      .warning-icon
        svg(xmlns="http://www.w3.org/2000/svg", width="64", height="64", fill="currentColor", viewBox="0 0 16 16")
          path(d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z")
      
      h2.text-danger Uwaga! Ta operacja jest nieodwracalna!
      
      .warning-content
        p Usunięcie konta spowoduje:
        ul
          li Usunięcie wszystkich Twoich galerii (#{stats.galleries})
          li Usunięcie wszystkich Twoich zdjęć (#{stats.images})
          li Usunięcie wszystkich Twoich komentarzy
          li Trwałe usunięcie Twojego konta użytkownika
        
        .stats-summary
          h4 Podsumowanie:
          p 
            strong Galerie do usunięcia: 
            span #{stats.galleries}
          p 
            strong Zdjęcia do usunięcia: 
            span #{stats.images}
        
        .confirmation-form
          form(method='POST', action='/users/delete-account')
            .form-group
              .form-check
                input.form-check-input(type='checkbox', name='confirm', value='true', id='confirmDelete', required)
                label.form-check-label(for='confirmDelete')
                  | Potwierdzam, że chcę usunąć moje konto i wszystkie powiązane dane
            .form-group
              button.btn.btn-danger.btn-lg(type='submit', disabled, id='deleteButton') Usuń konto na zawsze
            .form-group
              a.btn.btn-secondary(href='/users/profile') Anuluj

  if messages
    .messages
      ul
        for message in messages
          li!= message

  script.
    document.addEventListener('DOMContentLoaded', function() {
      const confirmCheckbox = document.getElementById('confirmDelete');
      const deleteButton = document.getElementById('deleteButton');
      
      confirmCheckbox.addEventListener('change', function() {
        deleteButton.disabled = !this.checked;
      });
    }); 